{% extends 'home/layout.html' %}

{% load static %}
{% load humanize %}

{% block content %}
    <div class="container text-center">
        <h2>ACERCA DE....</h2>
    </div> 
    <figure class="empresa">
        <img src="/media/imagenes/imagen empresa.jpg" alt="Trulli" style="width:45% heigth:50%">
    </figure>   
    <P style="margin-left:10px; margin-rigth:10px;">
     VISION
        Ser reconocidos como líderes en la industria tecnologica mundial.
        Jaguarete KAA S.A. nace en el año 2002 fruto de la necesidad de comercializar, tanto en el mercado interno como en el externo, las producciones de cerdos de siete planteles nacionales. En ese momento ninguno de ellos, de forma independiente y aislada, era capaz de exportar directamente, por la limitada escala de producción.
        Actualmente Jaguarete KAA S.A. posee una moderna planta de proceso con más de 15.000 m2 construidos en un terreno de 18 hectáreas, donde trabajan 700 personas. Tiene oficinas comerciales en Asia y Europa, maneja la marca Campo Noble y luego de algo más de una década, los cortes se comercializan en más de 30 países.
    </P>


{% endblock %}